.main-section-container {
    margin-top: var(--nav-height-amount);
    height: calc(100% - var(--nav-height-amount));
    width: var(--inner-container-width);
    margin-inline: auto;
    gap: var(--center-spacing-gap);
}

.about-content-container {
    margin-top: var(--general-top-margin);
    gap: var(--center-spacing-gap);
}

.about-content {
    grid-template-columns: repeat(auto-fit, minmax(var(--things-to-do-card-width), 1fr));
    gap: var(--center-spacing-gap);
}

.about-form label {
    min-width: 8rem;
}

.about-form input,
.about-form textarea {
    min-width: 65ch;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
}

.about-form input:invalid {
    outline: 1px solid red;
}

.about-form {
    width: 100%;
    margin-inline: auto;
    gap: var(--center-spacing-gap);
    margin-bottom: 5rem;
}

.about-form-info {
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.about-button-container {
    position: relative;
}

.about-message-sent-text {
    position: absolute;    
    max-width: 15ch;
    padding-top: .5rem;
    transition: all .2s ease-in-out;
}

.hide-sent-text {
    opacity: 0;
}

.show-sent-text {
    opacity: 1;
}

.about-form-button {
    width: 75px;
    padding: 10px;
}