.footer-container {
    height: 300px;
    flex-shrink: 0;
    margin-top: 2rem;
}

.footer-nav {
    width: 100%;
    min-height: 80%;
    justify-content: space-around;
}

.footer-nav-inner-container{
    width: var(--inner-container-width);
    margin-inline: auto;
    justify-content: space-between;
}

.footer-copyright{
    margin-inline: auto;
    text-align: center;
}