.nav-container {
    width: 100%;
    top: 0;
    height: var(--nav-height-amount);
    justify-content: center;
    position: fixed;
    background-color: var(--site-acsent-color);
}

.nav-inner-container {
    width: var(--inner-container-width);
    justify-content: space-between;
    align-items: center;
}

.nav-state-logo {
    align-self: center;
}

.nav-menu {
    gap: 6rem;
    align-items: center;
}

.nav-dark-mode-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.nav-city-dropdown {
    position: relative;    
}

.nav-city-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color-dark);
    box-shadow: 10px 5px 5px var(--site-acsent-color);
    min-width: 140px;
    padding: .5rem;
    z-index: 1;
}

.nav-city-dropdown:hover .nav-city-dropdown-content {
    display: block;
}

.nav-color-change-mouse-over{
    cursor: pointer;
}

.nav-color-change-mouse-over:hover {
    color: var(--hover-color); 
}